
body{
  font: 400 16px Arial;
}
.center-block{
  width: 1000px;
  margin: 0 auto;
}
.input{
  width: 997px;
  height: 200px;
  resize: none;
  background-color: #fcf8e8;
}
.wrapper{
  width: 1003px;
  height: 282px;
  background-color: #af7470;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 35px;
}
.keyboard__keys {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.key{
  height: 45px;
  width: 6%;
  max-width: 130px;
  margin: 3px;
  border-radius: 10px 3px 10px 3px;
  border: none;
  background-color: #e9b9b6;
  user-select: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  font: 300 12px Arial;
}
.key_little{
  width: 7%;
}
.key_middle{
  width: 13%;
}
.key_extra {
  width: 32%;
  max-width: 500px;
  color: #ecb390;
}
.key:hover{
  transition: all 600ms ease;
  background-color: #c27f7a;
}
 .key:active{
  box-shadow: none;
  color: wheat;
} 
.key_active{
  background-color: #794a46;
  box-shadow: none;
  color: wheat;
  transition: all 600ms ease;
}
.pressed{
  position: relative;
  top: -10px;
}
p{
  font-family: monospace;
}
/* .key-special{
  background-color: #c99c98;
} */